<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Live Chat</title>
</head>

<body>
    <br>
    <hr>
    <nav>
        <a href="../index.html">Home</a>
    </nav>
    <hr>
    <header>
        <h1>Capturing Mobile Devices ...</h1>
    </header>

    <hr><br>
    <main>
        <form action="#" id="form" enctype="multipart/form-data">
            <label for="capture">Capture Mobile Devices</label>
            <input type="file" id="capture" accept="image/*, video/*, audio/*" capture multiple />
            <input type="submit" value="Process">
        </form>
        <hr>
        <br>
        <picture>
            <img src="" id="img" alt="image from phone">
        </picture>
        <hr>
        <br>
        <audio src="" id="audio" controls></audio>
        <br>
        <hr>
        <video src="" id="video" controls></video>

        <br>
        <hr><br>
    </main>
    <script src="./capture.js"></script>
</body>

</html>